{% extends "catalog/base.html" %}

{% block title %}RGT Hire – Reset Password{% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="../..{% static 'css/epsilon.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/zeta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/eta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/modified-from-jquery-ui-1-12-1-lightness.css' %}">
{% endblock %}


{% block main %}
<br>
<br>
<br>
<p class="email-sent">We've emailed you instructions for resetting your password. If an account exists with the email you entered, you should receive them shortly.</p>
<p class="email-sent">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
<br>
<br>
<br>

{% endblock %}
