{% extends "catalog/base.html" %}

{% block title %}RGT Hire – Password Reset{% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="../..{% static 'css/epsilon.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/zeta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/eta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/modified-from-jquery-ui-1-12-1-lightness.css' %}">
{% endblock %}

{% block main %}
<br>
<br>
<br>
<p class="complete">Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
<br>
<br>
<br>

{% endblock %}
