{% extends "catalog/base.html" %}

{% block title %}RGT Hire – Password Reset{% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="../..{% static 'css/epsilon.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/zeta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/eta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/modified-from-jquery-ui-1-12-1-lightness.css' %}">
{% endblock %}

{% block main %}
<br>
<br>
<br>
<div class="grandforgot-container">

  <div class="pseudoforgot-leftcontainer"></div>

  <div id="forgot-container">
  	<section class="forgot-card">
      <h3 class="forgot-title">Forgot password</h3>
      <form id="forgotpassword-form" method="POST" action="">
        {% csrf_token %}
        <p class="forgotform-email"><i class="fa fa-envelope-square"></i><input id="forgot-email" type="email" name="email" placeholder="Email..."></p>
        <p class="pforgot-submit"><button id="forgot-submit" type="submit">Submit</button></p>
      </form>
    </section>
  </div>

  <div class="pseudoforgot-rightcontainer"></div>

</div>
<br>
<br>
<br>

{% endblock %}
