@import "gamma.css";
@import "epsilon.css";
@import "zeta.css";
@import "font-awesome-4.7.0/css/font-awesome.css";

/* For mobile phone screen sizes - all files covered */
/* Author: Charles Umesi */

@media screen and (max-width: 1000px) {

  #top-container {
    display: block;
  }

  .sign-in, .user {
    margin-left: 20em;
    margin-top: -8.5em;
  }

  .shopping-cart {
    margin-left: 9em;
    margin-top: -6.4em;
    color: #429CD9;
    background-color: white;
  }

  .circle {
    margin-left: 19.6em;
    margin-top: -13.1em;
  }

  .hire-indicator, .h-suffix {
    margin-top: -11.1em;
  }

  .hire-indicator {
    margin-left: 20.3em;
  }

  .h-suffix {
    margin-left: 21.6em;
  }

  #enter {
    width: 20em;
  }

  #go {
    margin-left: -17.5em;
  }

  #reset {
   display: none;
  }

  .hire-arrow, .buy-arrow, .operator-arrow, .careers-arrow {
    margin-left: 0.5em;
  }

  #hire-dropdown {
    margin-left: -3.5em;
  }

  #buy-dropdown {
    margin-left: 2.5em;
  }

  .bdrop {
    margin-left: -6em;
  }

  #contact-us {
    margin-left: 15em;
  }

  .drop-1h-list li a span, .drop-1b-list li a span {
    z-index: -10;
  }

  .intro, .a-word-from-the-developer {
    margin-left: 1em; 
  }
  
  .a-word-from-the-developer {
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  .covered {
    margin-left: -5.5em;
    padding-left: 1em;
    padding-right: 1.4em;
  }

  #popular-container {
    display: block;
    width: auto;
    margin-left: 2em;
    margin-right: 2em;
  }

  .hc-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  .hc1 {
    margin-left: 8.7em;
    margin-top: -7em;
  }
  
  .hc2 {
    margin-left: 7.7em;
    margin-top: -7em;
  }
  
  .hc3 {
    margin-left: 9em;
    margin-top: -7em;
  }
  
  .hc4 {
    margin-left: 9em;
    margin-top: -7em;
  }
  
  .hc5 {
    margin-left: 8.7em;
    margin-top: -7em;
  }
  
  .hc6 {
    margin-left: 9em;
    margin-top: -7em;
  }

  #popular-hire-container {
    display: block;
    width: auto;
  }

  .popular-product-image {
    border: none;
  }

  .hire-caption {
    text-align: center;
  }

  .hire-now {
    width: auto;
    text-align: center;
  }

  .backup {
    margin-left: 0em;
    text-align: center;
  }

  footer, .bottom-footer {
    display: block;
    margin-left: 2em;
    padding-top: 0.5em;
  }

  .grandlogin-container {
    display: block;
    margin-left: 0em;
    width: auto;
  }

  #login-container {
    margin-left: 0em;
    width: 43.5em;
  }

  .login-card {
    margin-left: -2em;
  }
  
  .forgot-password, .reg {
    margin-left: 5em;
  }

  #search-page {
    margin-left: 0em;
  }

  #search-page figure, #search-page div {
    display: block;
    width: auto;
    margin-left: -0.1em;
  }

  #search-page div {
    background-color: rgba(55,58,55,0.05);
  }

  #search-page div ul {
    margin-left: -1.3em;
  }

  #search-page div p {
    margin-left: 1.5em;
  }

  #search-page figure div, #search-page figure figcaption {
    width: auto;
    text-align: center;
  }

  #search-page figure figcaption {
    width: auto;
    text-align: center;
  }

  #search-image {
    width: 50%;
    height: 50%;
    margin-left: 3em;
  }

  #search-op-heading-image {
    width: 40%;
    height: 40%;
    margin-left: 3em;
  }

  .hc-title-and-description, .bc-title-and-description {
    margin-left: 0em;
  }

  .hc-description, .bc-description {
    margin-left: 0.8em;
  }

  .should-be-h1-but-decided-p, .should-be-h1-but-decided-p-opjb {
    text-align: center;
    margin-left: 0em;
  }

  .hire-columns, .buy-columns {
    display: block;
    text-align: center;
  }

  .hire-product-image, .buy-product-image {
    border: none;
  }

  #shopping-cart, #subtotal {
    margin-left: 0em;
    text-align: center;
  }

  #summary-cart-container {
    margin-left: 0em;
  }

  #summary-cart-container figure {
    display: block;
    width: auto;
    margin-left: 1.5em;
    background-color: white;
  }

  #summary-cart-container figure div, #summary-cart-container figure figcaption {
    width: auto;
  }

  #summary-cart-container figure div, #summary-cart-container figure figcaption {
    text-align: center;
  }

  #summary-cart-container figure figcaption ul {
    margin-left: -2.7em;
  }

  #summary-cart-container figure div {
    margin-left: 0em;
  }

  .input-gr {
    width: 12em;
  }

  #order {
    margin-left: 1em;
    width: auto;
  }

  .review-restriction {
    margin-left: 0.8em;
  }


  #full-name {
    margin-left: 2.4em;
  }
  
  #email {
    margin-left: 2.6em;
  }
  
  #phone {
    margin-left: 2.08em;
  }
  
  #street {
    margin-left: 2.1em;
  }
  
  #city {
    margin-left: 0.4em;
  }
  
  #country {
    margin-left: 1.2em;
  }
  
  #postcode {
    margin-left: 0.3em;
    width: 10em;
  }
  
  #s-full-name {
    margin-left: 2.4em;
  }
  
  #s-street {
    margin-left: 2.1em;
  }
  
  #s-city {
    margin-left: 0.4em;
  }
  
  #s-country {
    margin-left: 1.2em;
  }
  
  #s-postcode {
    margin-left: 0.3em;
  }

  #grand-payment-container {
    margin-left: 0.8em;
    margin-top: 4em;
    width: auto;
    display: block;
  }

  #name-on-card {
    margin-left: 0.4em;
  }
  
  #card-number {
    margin-left: 0.8em;
  }
  
  #expiry-date {
    margin-left: 1.6em;
    width: 10em;
  }
  
  #security-code {
    margin-left: 0.6em; 
    width: 10em;
  }

  #payment-logos {
    height: 25em;
    margin-left: 0em;
  }

  .hire-category, .buy-category {
    margin-left: 1em;
  }
  
  .product-heading {
    margin-left: 1em;
  }

  .core-product-container {
    margin-left: 1em;
    display: block;
  }

  .prev, .b-prev {
    margin-left: -26.7em;
  }

  #displayed-image, #b-displayed-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border: 1px solid #D7D7D7;
  }
  
  #displayed-image:hover, #b-displayed-image:hover {
    transform: scale(1.5);
    margin-left: 1.5em;
  }

  .p1 img, .p2 img, .p3 img, .p4 img, .p5 img, .b-p1 img, .b-p2 img, .b-p3 img, .b-p4 img, .b-p5 img {
    width: 20%;
    height: 20%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    float: left;
    cursor: pointer;
  }

  .product-right-column {
    margin-top: 7em;
    margin-left: -1.7em;
  }

  .product-info {
    margin-left: 1.2em;
  }

  #two, #three, #four, #five {
    margin-left: 4em;
  }
  
  #rating_value_1 {
    margin-left: 0.4em;
  }
  
  #rating_value_2 {
    margin-left: 3.7em;
  }
  
  #rating_value_3 {
    margin-left: 3.8em;
  }
  
  #rating_value_4 {
    margin-left: 3.75em;
  }
  
  #rating_value_5 {
    margin-left: 3.75em;
  }

  .comment-recorded, #logged-in-rating-form {
    width: auto;
  }

  #review-title, #comment {
    width: 25em;
  }

  .grandregister-container {
    margin-left: 0em;
    display: block;
  }

  #register-container {
    margin-left: -3.3em;
    width: 47em;
  }

  .grandforgot-container {
    margin-left: 0em;
    display: block;
  }

  #forgot-container {
    margin-left: -3em;
    margin-right: 0em;
    width: auto;
  }

  .forgot-card,  #forgotpassword-form {
    width: auto;
  }

  #forgot-email {
    width: 20em;
  }

  .email-sent {
    padding-left: 1em;
    padding-right: 1em;
  }

  .complete {
    margin-left: 0.5em;
    margin-right: 0.7em;
  }

}