{% extends "catalog/base.html" %}

{% block title %}RGT Hire – {{ product_to_hire.name }}{% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="../..{% static 'css/epsilon.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/zeta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/eta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/modified-from-jquery-ui-1-12-1-lightness.css' %}">
{% endblock %}

{% block main %}
<!--Author: Charles Umesi-->

{% for hire_category in hire_categories %}
{% if hire_category.group == product_to_hire.hire_category_accessible %}
<p class="hire-category"><a href="{% url 'hirecategory' hire_category.id %}">{{ product_to_hire.hire_category_accessible }} (Hire Products)</a> > {{ product_to_hire.name }}</p>
{% endif %}
{% endfor %}

<div class="product-heading">
  <p><span class="should-be-h2-but-decided-p"><strong>{{ product_to_hire.name }}</strong></span><span>&ensp;</span><span class="code">{{ product_to_hire.code }}</span></p>

  {% if product_to_hire.mean_rating == 0 %}
  <p class="ratingh"> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span><span class="reviews">&ensp;<a href="{% url 'producttohire' product_to_hire.id %}#reviews-heading">Read reviews</a></span></p>
  {% elif product_to_hire.mean_rating == 1 %}
  <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span><span class="reviews">&ensp;<a href="{% url 'producttohire' product_to_hire.id %}#reviews-heading">Read reviews</a></span></p>
  {% elif product_to_hire.mean_rating == 2 %}
  <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span><span class="reviews">&ensp;<a href="{% url 'producttohire' product_to_hire.id %}#reviews-heading">Read reviews</a></span></p>
  {% elif product_to_hire.mean_rating == 3 %}
  <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span><span class="reviews">&ensp;<a href="{% url 'producttohire' product_to_hire.id %}#reviews-heading">Read reviews</a></span></p>
  {% elif product_to_hire.mean_rating == 4 %}
  <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span><span class="reviews">&ensp;<a href="{% url 'producttohire' product_to_hire.id %}#reviews-heading">Read reviews</a></span></p>
  {% elif product_to_hire.mean_rating == 5 %}
  <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span><span class="reviews">&ensp;<a href="{% url 'producttohire' product_to_hire.id %}#reviews-heading">Read reviews</a></span></p>
  {% endif %}
</div>

<div class="core-product-container">
  <section class="product-left-column">
    <div class="full-img">
      {% with product_to_hire.image_1 as image1 %}
      <img id="displayed-image" alt="{{ product_to_hire.name }}" src="{% static image1 %}"/>
      {% endwith %}
    </div>
    <p class=slide-no style="text-align:center;font-size:1.3em">1/5</p>
    <div class="thumbnail">
      <div class="p1">
        {% with product_to_hire.image_1 as image1 %}
        <img alt="{{ product_to_hire.name }}" src="{% static image1 %}"/>
        {% endwith %}
      </div>
      <div class="p2">
        {% with product_to_hire.image_2 as image2 %}
        <img alt="{{ product_to_hire.name }}" src="{% static image2 %}"/>
        {% endwith %}
      </div>
      <div class="p3">
        {% with product_to_hire.image_3 as image3 %}
        <img alt="{{ product_to_hire.name }}" src="{% static image3 %}"/>
        {% endwith %}
      </div>
      <div class="p4">
        {% with product_to_hire.image_4 as image4 %}
        <img alt="{{ product_to_hire.name }}" src="{% static image4 %}"/>
        {% endwith %}
      </div>
      <div class="p5">
        {% with product_to_hire.image_5 as image5 %}
        <img alt="{{ product_to_hire.name }}" src="{% static image5 %}"/>
        {% endwith %}
      </div>
    </div>

    <!--Next and previous arrows-->
    <a class="prev" onclick="pArray">&#10094;</a>
    <a class="next" onclick="pArray">&#10095;</a>

  </section>

  <section class="product-right-column">
    {% if product_to_hire.stock > 0 %}
    <form id="product-form">
      {% csrf_token %}
      <p class=mode>TO {{ product_to_hire.mode|upper }}</p>
      <p class="crate"><strong><span class="currency">£</span><span class="rate">{{ product_to_hire.daily_hire_rate }}</span></strong>/day</p>
      <p class="vat">{{ product_to_hire.vat }}</p>
      <p class="special">{{ product_to_hire.special }}</p>
      <p class="operator-requirement">{{ product_to_hire.operator_requirement }}</p>
      <p>{{ product_to_hire.stock }}&ensp;in stock</p>
      <p><button id="select-hire-product" type="button">Select hire product</button></p>
      <a href="{% url 'cart' %}"><button type="button"><b>Select dates and quantity now (on cart page)</b></button></a>
      <p>Alternatively, you can continue shopping for other products and select your dates and quantity on the cart page at the end</p>
    </form>

    {% else %}
    <div id="out-of-stock">
      <p><span class="currency">£</span>{{ product_to_hire.daily_hire_rate }}/day</p>
      <p>{{ product_to_hire.vat }}</p>
      <p>{{ product_to_hire.special }}</p>
      <p>{{ product_to_hire.operator_requirement }}</p>
      <p><strong>None available at present (speak to staff)</strong></p>
    </div>
    {% endif %}
  </section>
</div>

<div class="product-info">
  <h3 class="extra-product-info-heading">About the product</h3>
  <article class="extra-product-info-main">{{ product_to_hire.description }}</article>

  <h3 class="extra-product-info-heading">Safety Instructions & Further Information</h3>
  {% with product_to_hire.safety as document %}
  <p class="extra-product-info-download"><a href="{% static document %}" download>&emsp;Documentation&emsp;</a></p>
  {% endwith %}

  <h3 id="reviews-heading">Reviews</h3>
  {% for customer_ph_rating in customer_ph_ratings %}
  {% if customer_ph_rating.product_hired == product_to_hire.name and customer_ph_rating.code == product_to_hire.code %}

  <p class="extra-product-info-main2">{{ customer_ph_rating.name }},&ensp;<span>{{ customer_ph_rating.date_posted_string }}</span></p>

    {% if customer_ph_rating.rating_selected == 1 %}
    <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="should-be-h3-but-decided-p-instead">&ensp;{{ customer_ph_rating.comments_heading }}</span></p>
    {% elif customer_ph_rating.rating_selected == 2 %}
    <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="should-be-h3-but-decided-p-instead">&ensp;{{ customer_ph_rating.comments_heading }}</span></p>
    {% elif customer_ph_rating.rating_selected == 3 %}
    <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="should-be-h3-but-decided-p-instead">&ensp;{{ customer_ph_rating.comments_heading }}</span></p>
    {% elif customer_ph_rating.rating_selected == 4 %}
    <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="should-be-h3-but-decided-p-instead">&ensp;{{ customer_ph_rating.comments_heading }}</span></p>
    {% elif customer_ph_rating.rating_selected == 5 %}
    <p class="ratingh"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="should-be-h3-but-decided-p-instead">&ensp;{{ customer_ph_rating.comments_heading }}</span></p>
    {% endif %}

  <article class="comment-recorded">{{ customer_ph_rating.comments }}</article>
  <br>
  <br>

  {% endif %}
  {% endfor %}

  <p id="pre-logged-in-rating-form">Rate product (as a <span style="color:#3D3F41;">hire</span>)</p>
  {% if user.is_authenticated %}
  <!--jQuery to reveal form (either versions)-->
  <form id="logged-in-rating-form" action="" method="POST">
    {% csrf_token %}
    <!--For server only-->
    <input type="hidden" value="{{ product_to_hire.name }}" name="product_name">
    <input type="hidden" value="{{ product_to_hire.code }}" name="product_code">
    <!--For customer only-->
    <div class="core-rating-form">
      <p><strong>Product</strong>: {{ product_to_hire.name }} ({{ product_to_hire.code }})</p>
      <!--For customer and server-->
      <p>Rate:</p>
      <div class="rating-inputs">
        <input type="radio" id="one" value="1" name="rate_product">
        <input type="radio" id="two" value="2" name="rate_product">
        <input type="radio" id="three" value="3" name="rate_product">
        <input type="radio" id="four" value="4" name="rate_product">
        <input type="radio" id="five" value="5" name="rate_product">
      </div>
      <div class="rating-labels">
        <label for="one" id="rating_value_1">1</label>
        <label for="two" id="rating_value_2">2</label>
        <label for="three" id="rating_value_3">3</label>
        <label for="four" id="rating_value_4">4</label>
        <label for="five" id="rating_value_5">5</label>
      </div>
      <p>Heading:</p>
      <div class="review-title-container">
        <input type="text" id="review-title" name="review_title">
      </div>
      <p>Comment:</p>
      <div class="comment-container">
        <textarea id="comment" name="comment"></textarea>
      </div> <!--31/12/22 - apply to pbuy; complete operator.html template for customer impressions (no review form here); complete model task-->
      <div>
        <input type="submit" id="submit-review" value="Submit review">
      </div>
    </div>
  </form>

  {% else %}
  <form id="not-logged-in-rating-form">
    <p>You need to be <a href="{% url 'login' %}">logged in</a> to rate the product</p>
  </form>
  {% endif %}

</div>

<script>
  // Code for the gallery slideshow for the product's images (with zoom-in and zoom-out)
  // (You will notice that the code provided below is somewhat longer than usual...)
  // (I provided a longer code because it appears the need for "{% static image... %}" to access image files in Django, makes the usual shorter ways of coding for image gallery slideshows more complicated)
  // Charles Umesi (Original developer of the site, July 2022)

  // Relevant selectors
  const displayedImage = document.getElementById('displayed-image');
  const next = document.querySelector('.next');
  const prev = document.querySelector('.prev');
  const slideNo = document.querySelector('.slide-no');
  const p1 = document.querySelector('.p1 img');
  const p2 = document.querySelector('.p2 img');
  const p3 = document.querySelector('.p3 img');
  const p4 = document.querySelector('.p4 img');
  const p5 = document.querySelector('.p5 img');

  // Functions for displaying selected image
  function p1func() {
    "{% with product_to_hire.image_1 as image1 %}"
    displayedImage.setAttribute('src', "{% static image1 %}")
    "{% endwith %}"
    slideNo.textContent = "1/5";
    p1.style.outline = "2px solid rgb(66,156,217)";
    p2.style.outline = "0px";
    p3.style.outline = "0px";
    p4.style.outline = "0px";
    p5.style.outline = "0px";
  }
  function p2func() {
    "{% with product_to_hire.image_2 as image2 %}"
    displayedImage.setAttribute('src', "{% static image2 %}")
    "{% endwith %}"
    slideNo.textContent = "2/5";
    p1.style.outline = "0px";
    p2.style.outline = "2px solid rgb(66,156,217)";
    p3.style.outline = "0px";
    p4.style.outline = "0px";
    p5.style.outline = "0px";
  }
  function p3func() {
    "{% with product_to_hire.image_3 as image3 %}"
    displayedImage.setAttribute('src', "{% static image3 %}")
    "{% endwith %}"
    slideNo.textContent = "3/5";
    p1.style.outline = "0px";
    p2.style.outline = "0px";
    p3.style.outline = "2px solid rgb(66,156,217)";
    p4.style.outline = "0px";
    p5.style.outline = "0px";
  }
  function p4func() {
    "{% with product_to_hire.image_4 as image4 %}"
    displayedImage.setAttribute('src', "{% static image4 %}")
    "{% endwith %}"
    slideNo.textContent = "4/5";
    p1.style.outline = "0px";
    p2.style.outline = "0px";
    p3.style.outline = "0px";
    p4.style.outline = "2px solid rgb(66,156,217)";
    p5.style.outline = "0px";
  }
  function p5func() {
    "{% with product_to_hire.image_5 as image5 %}"
    displayedImage.setAttribute('src', "{% static image5 %}")
    "{% endwith %}"
    slideNo.textContent = "5/5";
    p1.style.outline = "0px";
    p2.style.outline = "0px";
    p3.style.outline = "0px";
    p4.style.outline = "0px";
    p5.style.outline = "2px solid rgb(66,156,217)";
  }

  // Add event listeners
  let pArray = [p1func, p2func, p3func, p4func, p5func];
  next.addEventListener('click', () => {
    for (let i of pArray) {
      if (slideNo.textContent == "1/5") {
        p2func();
        break;
      } else if (slideNo.textContent == "2/5") {
        p3func();
        break;
      } else if (slideNo.textContent == "3/5") {
        p4func();
        break;
      } else if (slideNo.textContent == "4/5") {
        p5func();
        break;
      } else if (slideNo.textContent == "5/5") {
        p1func();
        break;
      }
    }
  })
  prev.addEventListener('click', () => {
    for (let i of pArray) {
      if (slideNo.textContent == "5/5") {
        p4func();
        break;
      } else if (slideNo.textContent == "4/5") {
        p3func();
        break;
      } else if (slideNo.textContent == "3/5") {
        p2func();
        break;
      } else if (slideNo.textContent == "2/5") {
        p1func();
        break;
      } else if (slideNo.textContent == "1/5") {
        p5func();
        break;
      }
    }
  })
  p1.addEventListener('click', p1func)
  p2.addEventListener('click', p2func)
  p3.addEventListener('click', p3func)
  p4.addEventListener('click', p4func)
  p5.addEventListener('click', p5func)
  displayedImage.addEventListener('mouseenter', () => {
    next.style.display = "none";
    prev.style.display = "none";
  })
  displayedImage.addEventListener('mouseleave', () => {
    next.style.display = "unset";
    prev.style.display = "unset";
  })
</script>

<!--The next two script blocks deal with the product review dropdown-->
<script>
  $("#pre-logged-in-rating-form").click(function(){
    $("#logged-in-rating-form").toggle();
  });  
</script>

<script>
  $("#pre-logged-in-rating-form").click(function(){
    $("#not-logged-in-rating-form").toggle();
  });  
</script>

{% endblock %}
