{% extends "catalog/base.html" %}

{% block title %}RGT Hire – Review{% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="../..{% static 'css/epsilon.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/zeta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/eta.css' %}">
<link rel="stylesheet" type="text/css" href="../..{% static 'css/modified-from-jquery-ui-1-12-1-lightness.css' %}">
{% endblock %}

{% block main %}
<!--Author: Charles Umesi-->

<br>
<br>
<br>
<p style="font-size:1.5em;text-align:center;">Thank you for your review; it will soon be published.</p>
<br>
<br>
<br>

{% endblock %}